.header {
  padding: 34px 0 17px;
  background-color: $color-transparent;
  @include vp-1023 {
    padding: 47px 0 17px;
  }
  @include vp-767 {
    padding: 16px 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
