.header {
  padding: 34px 0 17px;
  background-color: $color-transparent;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
