.hero {
	padding: 90px 0 94px;
	background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
	height: 668px;
	@include vp-767 {
		padding: 12px 0 41px;
		height: auto;
	}
	&__container {
		height: 100%;
	}
	&__wrapper {
		height: 100%;
		display: flex;
		column-gap: 5em;
		@include vp-1279 {
			position: relative;
		}
		&-col {
			width: 100%;
			height: 100%;
			&--02 {
				padding: 4px 0 0 6px;
				@include vp-1279 {
					position: absolute;
					top: 0;
					right: 0;
				}
				@include vp-767 {
					display: none;
				}
			}
		}
	}
	&__heading {
		position: relative;
		z-index: 5;
		max-width: 506px;
		@include vp-767 {
			max-width: 100%;
			text-align: center;
		}
	}
	&__pic {
		max-width: 554px;
		@include vp-1279 {
			width: 100%;
			max-width: 50%;
			height: 293px;
			position: absolute;
			top: 0;
			right: 0;
		}
		@include vp-1023 {
			max-width: 336px;
			bottom: 10px;
			top: auto;
		}
	}
	&__title {
		text-transform: initial;
	}
	&__subtitle {
		text-transform: initial;
		display: block;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.05em;
		color: rgba($color-catalina-blue, 0.6);
		padding: 32px 0 0;
		max-width: 425px;
		@include vp-767 {
			max-width: 100%;
			text-align: center;
			padding: 12px 0 0;
		}
	}
	&__btn {
		box-shadow: 5px 10px 20px rgba($color-lochmara, 0.2);
		border-radius: 10px;
		margin: 70px 0 0;
		padding: 15px 50px;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.04em;
		@include vp-767 {
			display: flex;
			font-size: 12px;
			padding: 5px;
			max-width: 108px;
			margin: 32px auto 0 auto;
		}
	}
}
